
.header1 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10vh;
  @media (max-width: 768px) and (min-width: 480px) {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  @media (max-width: 480px) {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}


.header-title { 
  display: flex;
  justify-content: center;
  align-items: center;
}


